<!doctype html>
<html lang="en">

<head>
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/css/login.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>KubeHosting/signup</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-sm-center h-100">
				<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
					<div class="text-center my-5">
						<svg width="123" height="38" viewBox="0 0 123 38" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect width="11.5758" height="6.14002" rx="1" transform="matrix(0.736254 -0.676705 0.680789 0.73248 0.145203 16.1269)" fill="#407BFF"/>
							<rect width="11.5132" height="6.35917" rx="1" transform="matrix(0.730771 -0.682622 0.686678 0.726962 17.0688 32.6822)" fill="#407BFF"/>
							<path d="M0.568298 16.2669C0.568298 15.7146 1.01601 15.2669 1.5683 15.2669H21.2638C21.816 15.2669 22.2638 15.7146 22.2638 16.2669V35.8847C22.2638 36.437 21.816 36.8847 21.2638 36.8847H1.5683C1.01601 36.8847 0.568298 36.437 0.568298 35.8847V16.2669Z" fill="#407BFF"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M35.8706 18.6516L44.2931 29.1488C44.3748 29.2729 44.4156 29.4172 44.4156 29.5817C44.4156 29.7462 44.3427 29.9021 44.1969 30.0464C44.0716 30.1705 43.9171 30.2311 43.7305 30.2311H35.6811C35.203 30.2311 34.8298 30.0666 34.5587 29.7376L29.1302 23.0964V29.397C29.1302 29.625 29.0486 29.8184 28.8824 29.9829C28.7163 30.1474 28.518 30.2311 28.2877 30.2311H21.8622C21.6348 30.2311 21.4365 30.1474 21.2704 29.9829C21.1042 29.8184 21.0197 29.625 21.0197 29.397V9.44746C21.0197 9.21945 21.1042 9.02607 21.2704 8.86156C21.4365 8.69704 21.6348 8.61334 21.8622 8.61334H28.2877C28.518 8.61334 28.7163 8.69704 28.8824 8.86156C29.0486 9.02607 29.1302 9.21945 29.1302 9.44746V15.2545L34.0601 9.13863C34.3721 8.7894 34.7569 8.61334 35.2146 8.61334H42.7334C42.92 8.61334 43.0745 8.6855 43.1999 8.82981C43.3456 8.95392 43.4185 9.10689 43.4185 9.2916C43.4185 9.45612 43.366 9.60043 43.264 9.72454L35.8706 18.6516ZM66.2226 28.2858C64.1848 29.7895 61.4181 30.2311 57.9255 30.2311C54.4299 30.2311 51.6545 29.7895 49.5962 28.2858C47.5584 26.7821 46.538 24.4356 46.538 21.2434V9.44746C46.538 9.21945 46.6225 9.02607 46.7887 8.86156C46.9549 8.69704 47.1502 8.61334 47.3805 8.61334H53.8993C54.1296 8.61334 54.3279 8.69704 54.4941 8.86156C54.6602 9.02607 54.7419 9.21945 54.7419 9.44746V21.7399C54.7419 22.5826 55.0218 23.232 55.5844 23.6852C56.1675 24.1383 56.9488 24.3634 57.9255 24.3634C58.9021 24.3634 59.6689 24.1383 60.2315 23.6852C60.8146 23.232 61.1061 22.5826 61.1061 21.7399V9.44746C61.1061 9.21945 61.1878 9.02607 61.354 8.86156C61.5201 8.69704 61.7184 8.61334 61.9487 8.61334H68.4675C68.6978 8.61334 68.8931 8.69704 69.0593 8.86156C69.2255 9.02607 69.31 9.21945 69.31 9.44746V21.2434C69.31 24.4356 68.2809 26.7821 66.2226 28.2858ZM96.324 23.437C96.324 27.9654 93.3911 30.2311 87.5283 30.2311H74.6743C74.4469 30.2311 74.2487 30.1474 74.0825 29.9829C73.9163 29.8184 73.8347 29.625 73.8347 29.397V9.44746C73.8347 9.21945 73.9163 9.02607 74.0825 8.86156C74.2487 8.69704 74.4469 8.61334 74.6743 8.61334H87.2163C90.1696 8.61334 92.3416 9.14729 93.7351 10.2181C95.1491 11.2687 95.8575 12.8647 95.8575 15.0063V15.0987C95.8575 16.0886 95.5864 16.9314 95.047 17.6299C94.5048 18.3312 93.9421 18.7728 93.3619 18.9576C94.1724 19.2058 94.8692 19.7513 95.4523 20.5969C96.0324 21.4195 96.324 22.3662 96.324 23.437ZM86.4671 21.8928H81.9424V24.9205H86.4671C86.9452 24.9205 87.2979 24.7646 87.5283 24.4558C87.7761 24.1268 87.9014 23.766 87.9014 23.3764V23.3446C87.9014 22.955 87.7673 22.6144 87.4962 22.3258C87.2484 22.0371 86.9044 21.8928 86.4671 21.8928ZM87.0589 16.3022C87.2892 15.9934 87.4029 15.6557 87.4029 15.2834C87.4029 14.914 87.2892 14.5965 87.0589 14.3281C86.8519 14.0596 86.5399 13.924 86.123 13.924H81.9424V16.7352H86.123C86.5399 16.7352 86.8519 16.5909 87.0589 16.3022ZM108.615 22.2623V24.2105H121.061C121.291 24.2105 121.49 24.2913 121.656 24.4558C121.822 24.6203 121.904 24.8166 121.904 25.0417V29.397C121.904 29.625 121.822 29.8184 121.656 29.9829C121.49 30.1474 121.291 30.2311 121.061 30.2311H101.347C101.117 30.2311 100.922 30.1474 100.755 29.9829C100.589 29.8184 100.505 29.625 100.505 29.397V9.44746C100.505 9.21945 100.589 9.02607 100.755 8.86156C100.922 8.69704 101.117 8.61334 101.347 8.61334H120.749C120.979 8.61334 121.178 8.69704 121.344 8.86156C121.51 9.02607 121.592 9.21945 121.592 9.44746V13.8028C121.592 14.0279 121.51 14.2242 121.344 14.3887C121.178 14.5532 120.979 14.6369 120.749 14.6369H108.615V16.5822H119.035C119.262 16.5822 119.46 16.663 119.627 16.8275C119.793 16.992 119.877 17.1883 119.877 17.4134V21.4282C119.877 21.6562 119.793 21.8524 119.627 22.0169C119.46 22.1815 119.262 22.2623 119.035 22.2623H108.615Z" fill="black"/>
							<path d="M7.77216 9.61334C7.77216 9.06106 8.21987 8.61334 8.77216 8.61334H28.4676C29.0199 8.61334 29.4676 9.06106 29.4676 9.61334V29.2311C29.4676 29.7834 29.0199 30.2311 28.4676 30.2311H8.77216C8.21987 30.2311 7.77216 29.7834 7.77216 29.2311V9.61334Z" fill="black"/>
						</svg>
					</div>
					<div class="card shadow-lg">
						<div class="card-body p-5">
							<h1 class="fs-4 card-title fw-bold mb-4">Sign up</h1>
							<% if (message.length > 0) { %>
								<section class="message"><p><%= message %></p></section>
							<% } %>
							<form action="/signup" method="post" novalidate="" autocomplete="off">
								<div class="mb-3">
									<label class="mb-2 text-muted" for="email">Email</label>
									<input id="email" name="email" type="email" autocomplete="email" class="form-control" required>
									<div class="invalid-feedback">
										Email is required	
									</div>
								</div>
								<div class="mb-3">
									<label class="mb-2 text-muted" for="new-password">Password</label>
									<input id="new-password" name="password" type="password" autocomplete="new-password" class="form-control" required>
								    <div class="invalid-feedback">
								    	Password is required
							    	</div>
								</div>
								<p class="form-text text-muted mb-3">
									By registering you agree with our terms and condition.
								</p>
								<div class="align-items-center d-flex">
									<input type="hidden" name="_csrf" value="<%= csrfToken %>">
									<button type="submit" class="btn btn-primary ms-auto">
										Sign up	
									</button>
								</div>
							</form>
						</div>
						<div class="card-footer py-3 border-0">
							<div class="text-center">
								Already have an account? <a href="/login" class="text-dark">Login</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="js/login.js"></script>
</body>

</html>
