<!doctype html>
<html lang="en">

<head>
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/css/login.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>KubeHosting/signup</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-sm-center h-100">
				<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
					<div class="text-center my-5">
						<img src="/images/logo.svg">
					</div>
					<div class="card shadow-lg">
						<div class="card-body p-5">
							<h1 class="fs-4 card-title fw-bold mb-4">Sign up</h1>
							<% message.forEach(msg => { %>
								<section class="message">
									<p>
										<% msg.split("\n").forEach(line => { %>
											<%= line %><br> 
										<%}); %>
									</p>
								</section>
							<% }); %>
							<form action="/signup" method="post" novalidate="" autocomplete="off">
								<% if (hasMessages) { %>
									<section class="messages">
										<% messages.forEach(function(message) { %>
											<p>
												<%= message %>
											</p>
											<% }); %>
									</section>
								<% } %>
								<div class="mb-3">
									<label class="mb-2 text-muted" for="email">Email</label>
									<input id="email" name="email" type="email" autocomplete="email" class="form-control" required>
									<div class="invalid-feedback">
										Email is required	
									</div>
								</div>
								<div class="mb-3">
									<label class="mb-2 text-muted" for="new-password">Password</label>
									<input id="new-password" name="password" type="password" autocomplete="new-password" class="form-control" required>
								    <div class="invalid-feedback">
								    	Password is required
							    	</div>
								</div>
								<p class="form-text text-muted mb-3">
									By registering you agree with our terms and condition.
								</p>
								<div class="align-items-center d-flex">
									<input type="hidden" name="_csrf" value="<%= csrfToken %>">
									<button type="submit" class="btn btn-primary ms-auto">
										Sign up	
									</button>
								</div>
							</form>
						</div>
						<div class="card-footer py-3 border-0">
							<div class="text-center">
								Already have an account? <a href="/login" class="text-dark">Login</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="js/login.js"></script>
</body>

</html>
