kubehosting.duckdns.org {
    tls
    
    reverse_proxy http://node:3000
}

*.kubehosting.duckdns.org {
    proxy /cats http://serviceA:80 {
        without /cats
    }
    proxy /dogs http://serviceB:80 {
        without /dogs
    }
}